{% extends 'base.html' %}

{% block title %}Lista de Pedidos{% endblock title %}

{% block content %}
<a href="{% url 'add_pedido' %}" data-toggle="tooltip" title="Adicionar"><div class="div-topo-direita"><span class="fa fa-plus fa-2x" style="color: blue"></span></div></a>
  <div class='container text-center'>
  <div class='row justify-content-md-center'>
  <div class='col col-lg-2'>
  </div>
  <div class='col-md-auto'>
    {% if pedidos %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Cliente</th>
          <th scope="col">Total</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for pedido in pedidos %}
        <tr class={% cycle 'table-warning' 'table-secondary' 'table-info'%}>
          <th scope="row"><a href="{% url 'pedidodetalhes' pedido.id %}" data-toggle="tooltip" title="Detalhes do pedido">{{ pedido.id }}</a></th>
          <td>{{ pedido.cliente }}</td>
          <td>R$ {{ pedido.total }}</td>
          <td><a href="{% url 'excluir_pedido' pedido.id %}" class="btn btn-danger" data-toggle="tooltip" title="Excluir Pedido"><span class="fa fa-trash"></span></a> <a href="{% url 'editar_pedido' pedido.id %}" class="btn btn-warning" data-toggle="tooltip" title="Editar Pedido"><span class="fa fa-edit"></span></a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <br><br>
<h1>Nenhum pedido Encontrado</h1>
{% endif %}
  </div>
  <div class='col col-lg-2'>
  </div>
  </div>
{% endblock content %}