{% extends 'base.html' %}

{% block title %}Detalhe do Pedidos{% endblock title %}

{% block content %}

<div class='container text-center'>
<div class='row justify-content-md-center'>
<div class='col col-lg-2'>
</div>
<div class='col-md-auto'>
  <br>
  <p style="background: lightgrey;">Pedido N.	&deg; <i><b>{{ pedido }}</b></i> - Cliente: <b>{{ cliente }}</b> - Data: <b>{{ data|date:'d/m/Y' }}</p>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Preço</th>
        <th scope="col">total por item</th>
      </tr>
    </thead>
    <tbody>
      {% for item in itens %}
      <tr class={% cycle 'table-warning' 'table-secondary' 'table-info'%}>
        <th scope="row">{{ item.produto.id }}</th>
        <td>{{ item.produto.nome }}</td>
        <td>{{ item.quantidade }}</td>
        <td>{{ item.produto.preco }}</td>
        <td>R$ {{ item.total|floatformat:2 }}</td>
      </tr>
      {% endfor %}
      <tr>
        <th scope="row" colspan="4" style="text-align: center;">Total</th>
        <td style="font-weight: bold;">R$ {{ total }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class='col col-lg-2'>
</div>
</div>
{% endblock content %}
