{% extends 'base.html' %}

{% block title %}Lista de Clientes{% endblock title %}
{% block content %}
    <div class="container text-center">
      <div class="row justify-content-md-center">
        <div class="col col-lg-2">
        </div>
        <div class="col-md-auto">
          <h1>Lista de Clientes</h1>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Telefone</th>
                <th scope="col">E-mail</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              {% for cliente in clientes %}
              <tr class={% cycle 'table-warning' 'table-secondary' 'table-info'%}>
                <th scope="row">{{ cliente.id }}</th>
                <td>{{ cliente.nome }}</td>
                <td>({{ cliente.telefone|slice:'0:2' }}) {{ cliente.telefone|slice:'2:3' }} {{ cliente.telefone|slice:'3:7' }}-{{ cliente.telefone|slice:'7:11' }}</td>
                <td>{{ cliente.email }}</td>
                <td><a href="{% url 'excluircliente' cliente.id %}" class="btn btn-danger">Excluir</a> <a href="{% url 'atualizarcliente' cliente.id %}" class="btn btn-warning">Atualizar</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col col-lg-2">
        </div>
      </div>
{% endblock content %}